rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {
        match /profiles/{profile} {
            allow read, write: if true;
        }
        match /valid_ids/{validId} {
            allow read, write: if isAuthenticated();
        }
        match /exhibitor_logo_images/{logoImage} {
            allow read, write: if isAuthenticated();
        }
        match /exhibitor_cover_images/{coverImage} {
            allow read, write: if isAuthenticated();
        }
        match /selfies/{selfie} {
            allow read, write: if isAuthenticated();
        }
        function isAuthenticated() {
            return request.auth != null;
        }
    }
}

// To deploy rules, just run firebase deploy --only storage