<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718285559839-j2i93sqad0hds1mv8m6psjdtfnv04ftu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718285559839-j2i93sqad0hds1mv8m6psjdtfnv04ftu</string>
	<key>API_KEY</key>
	<string>AIzaSyD0OdVYkLcNrSC2s1tm6F8vKr6uPpkR4LU</string>
	<key>GCM_SENDER_ID</key>
	<string>718285559839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynthOneClient.stg</string>
	<key>PROJECT_ID</key>
	<string>mynth-one-client-prd</string>
	<key>STORAGE_BUCKET</key>
	<string>mynth-one-client-prd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718285559839:ios:c8bda571f2fd3c80f75d2a</string>
</dict>
</plist>